body {
    margin: 0px;
}

* {
    font-family: 'Roboto Mono', serif;
}

h1 {
    font-size: 64px;
    margin: 16px 0px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 95vh;
    width: 95vw;
}

#grid {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
}

.gridElement {
    background-color: blueviolet;
}

.settings {
    margin-bottom: 10px;
}

#clearBtn,
#trainBtn,
#predictBtn,
#eraserBtn,
#colorBtn {
    padding: 10px 15px;
    margin: 0px 1px;
}

#clearBtn:active,
#trainBtn:active,
#predictBtn:active,
#eraserBtn:active,
#colorBtn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

#clearBtn:hover,
#trainBtn:hover,
#predictBtn:hover,
#eraserBtn:hover,
#colorBtn:hover {
    /* background-color: #000; */
    /*  Making button bigger on hover  */
    transform: scale(1.1) perspective(1px)
}

.colored {
    background-color: black;
}

.active {
    background-color: black;
    color: white;
}