.main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 95vh;
    width: 95vw;
    margin-top: 20px;
}

#grid {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
}

.gridElement {
    background-color: blueviolet;
}

.settings {
    margin-bottom: 10px;
}